<html>
<head>
  <title>Polling for Real</title>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/styles.css" media="screen" title="no title" charset="utf-8">
</head>
<body>

 {{{ body }}}

 <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 <script type="text/javascript">"https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.0/lodash.js"</script>
</body>
</html>
