<h1>{{question}}</h1>

 <div class={{id}} id='choices'>
   {{#each responses}}
     <button>{{this}}</button>
   {{/each}}
   <div class='thank-you'style='display: none;'><h3>Thank you for voting!</h3></div>
 </div>
