.row {
  padding-bottom: 30px;
}

.well {
  background-color: lightblue;
}

.jumbotron {
  background-color: lightblue;
}

.poll-closed {
  color: red;
  display: none;
}

#stats-shared-message {
  color: green;
  display: none;
}

.stats {
  padding-top: 20px;
}
